<template>
    <div class="wrapper">
        <messages/>
        <modals/>
        <navbar/>
        <sidebar/>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h4 class="m-0">{{title}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <slot/>
                </div>
            </div>
        </div>
        <foot/>
    </div>
</template>

<script>
import index from "../../index"
import navbar from "./navbar"
import sidebar from "./sidebar"
import foot from "./footer"
import messages from "../../common/messages"
import modals from "../../common/modals"

export default {
    name: "index",
    props: ["title"],
    components: {index, navbar, sidebar, foot, messages, modals},
    data() {
      return {
          page_title: "",
          page_logo: "",
      }
    },
    mounted() {
        var lang = this.$page.props.lang
        var settings = this.$page.props._settings
        var logo = settings["logo"].value
        this.page_title = ((this.title) ? this.title + " | " : "") + settings["name_" + lang]?.value
        this.page_logo = settings["logo"] ? this.asset('public/' + logo) : this.asset('public/noimage.jpg')
        this.$meta().refresh()
    },
    metaInfo() {
        return {
            title: this.page_title,
            link: [
                {rel: 'icon', type: "image/png", href: this.page_logo},
            ],
        }
    },
    methods: {

    }
}
</script>
