<template>
    <footer class="main-footer">
        <div class="float-end d-none d-sm-inline">
            All Rights Reserved
        </div>
        <strong>Copyright &copy; {{ new Date().getFullYear() }} <a :href="route('index')">Laravel
            Boilerplate</a>.</strong> All rights reserved.
    </footer>
</template>

<script>
export default {
    name: "foot"
}
</script>

<style scoped>

</style>
