<template>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <inertia-link :href="route('admin.index')" class="nav-link"><i class="fa fa-home"></i> الرئيسية</inertia-link>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a :href="route('index')" target="_blank" class="nav-link"><i class="fa fa-globe"></i> واجهة الموقع</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item d-none d-sm-inline-block">
                <inertia-link :href="route('admin.logout')" class="nav-link"><i class="fa fa-sign-out-alt"></i> تسجيل الخروج</inertia-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: "navbar"
}
</script>
