<template>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <inertia-link :href="route('admin.index')" class="brand-link">
            <img :src='page_logo' alt="Admin" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">{{ page_title }}</span>
        </inertia-link>
        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <inertia-link :href="route('admin.index')" :class="{active: current('admin.index')}" class="nav-link">
                            <i class="nav-icon fa fa-home"></i>
                            <p><span>الرئيسية</span></p>
                        </inertia-link>
                    </li>
                    <li class="nav-item">
                        <inertia-link :href="route('admin.admins.index')" :class="{active: current('admin.admins.*')}" class="nav-link">
                            <i class="nav-icon fa fa-briefcase"></i>
                            <p><span>المدراء</span></p>
                        </inertia-link>
                    </li>
                    <li class="nav-item">
                        <inertia-link :href="route('admin.users.index')" :class="{active: current('admin.users.*')}" class="nav-link">
                            <i class="nav-icon fa fa-users"></i>
                            <p><span>المستخدمون</span></p>
                        </inertia-link>
                    </li>
                    <li class="nav-item">
                        <inertia-link :href="route('admin.settings.index')" :class="{active: current('admin.settings.*')}" class="nav-link">
                            <i class="nav-icon fa fa-cogs"></i>
                            <p><span>الإعدادات</span></p>
                        </inertia-link>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Starter Pages
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Active Page</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Inactive Page</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</template>

<script>
export default {
    name: "sidebar",
    data() {
        return {
            page_title: "",
            page_logo: "",
        }
    },
    mounted() {
        var lang = this.$page.props.lang
        var settings = this.$page.props._settings
        var logo = settings["logo"].value
        console.log(logo)
        this.page_title = settings["name_" + lang]?.value
        this.page_logo = settings["logo"] ? this.asset('public/' + logo) : this.asset('public/noimage.jpg')
    },
}
</script>

<style scoped>

</style>
