<template>
    <div>
        <footer class="text-center navbar-dark p-3"  style="background-color: #343A40;">
            <div class="text-center text-white">
                All rights reserved © {{ new Date().getFullYear() }} -
                <inertia-link :href='route("index")' class="text-white text-decoration-none">Terms Conditions</inertia-link>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    name: "Footer"
}
</script>

<style scoped>

</style>
