<template>
    <index :title="title">
        <navbar/>
        <div class="content p-2 px-3 pt-4">
            <slot/>
        </div>
        <Footer/>
    </index>
</template>

<script>
import index from "../../index"
import navbar from "./navbar"
import Footer from "./footer";

export default {
    props: ["title"],
    components: {index, navbar, Footer},
    mounted() {

    }
}
</script>
