<template>
    <div>
        <nav class="main-header navbar fixed-top navbar-expand-md navbar-dark border-0" style="background-color: #343A40;">
            <div class="container-fluid">
                <inertia-link class="navbar-brand m-0 me-2 p-0" :href="route('index')">
                    <img :src='asset("public/logo.jpg")' alt="" width="36" height="36" class="brand-image me-1">
                </inertia-link>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <inertia-link :class="{active: current('index')}" class="nav-link" :href='route("index")'>
                                <i class="fa fa-home"></i> {{ __("l.homepage") }}
                            </inertia-link>
                        </li>
                        <li v-if="$page.props.auth" class="nav-item">
                            <inertia-link :class="{active: current('sites.*')}" class="nav-link" :href='route("sites.index")'>
                                <i class="fa fa-globe"></i> {{ __("l.Sites List") }}
                            </inertia-link>
                        </li>
                        <li class="nav-item">
                            <inertia-link :class="{active: current('contact_us')}" class="nav-link" :href='route("contact_us")'>
                                <i class="fa fa-at"></i> {{ __("l.contact_us") }}
                            </inertia-link>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="language_switcher" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img :src='asset("public/images/"+ $page.props.lang +".png")' alt="" width="22">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="navbarDropdown">
                                <a v-for="lg in ['en', 'ar', 'fr']" :key="'lang_switcher_'+lg"
                                   :href="route('lang', lg)"
                                   class="dropdown-item">
                                    <span class="mr-2"><img :src='asset("public/images/"+ lg +".png")' alt="" width="22"></span>
                                    <span>{{ __("l." + lg) }}</span>
                                </a>
                            </div>
                        </li>
                        <li v-if="$page.props.auth" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img :src='asset("public/" + $page.props.auth.image)' alt="" width="23" class="rounded-circle border">
                                <span>{{$page.props.auth.name}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="navbarDropdown">
                                <inertia-link :class="{active: current('my_account')}" class="dropdown-item" :href='route("my_account")'>
                                    <i class="fa fa-user"></i> {{ __("l.my_account") }}
                                </inertia-link>
                                <inertia-link :class="{active: current('sites.*')}" class="dropdown-item" :href='route("sites.index")'>
                                    <i class="fa fa-globe"></i> {{ __("l.Sites List") }}
                                </inertia-link>
                                <inertia-link class="dropdown-item" :href='route("logout")'>
                                    <i class="fa fa-sign-out-alt"></i> {{ __("l.Sign Out") }}
                                </inertia-link>
                            </div>
                        </li>
                        <li v-else class="nav-item">
                            <inertia-link :class="{active: current('login')}" class="nav-link" :href='route("login")'>
                                <i class="fa fa-sign-in-alt"></i> {{ __("l.Sign In") }}
                            </inertia-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name: "navbar",
    mounted() {
        //alert(this.current())
    }
}
</script>

