<template>
    <div id="toasts">
        <pre class="d-none">{{ $page.props.errors }}</pre>
    </div>
</template>

<script>
export default {
    methods: {
        toastrfn() {
            if (this.$page.props.success)
                this.toast("success", this.$page.props.success)
            if (this.$page.props.status)
                this.toast("status", this.$page.props.status)
            if (this.$page.props.message)
                this.toast("message", this.$page.props.message)
            if (this.$page.props.error)
                this.toast("error", this.$page.props.error)
            if (this.$page.props.errors) {
                for (const [key, value] of Object.entries(this.$page.props.errors)) {
                    this.toast("error", value)
                }
            }

        }
    },
    mounted() {
        this.toastrfn()
    },
    updated() {
        this.toastrfn()
    }
}
</script>

<style scoped>

#toasts {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    opacity: .9 !important
}

.toast {
    width: 300px;
    float: right;
    justify-content: space-between !important
}

.toast .btn-close {
    margin: 0 10px
}
</style>
