<template>
    <div>
        <!-- Confirmation Modal -->
        <div id="confirmation-modal" class="modal fade mt-5">
            <div class="modal-dialog mt-5" style="width: 400px;">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h5>{{ __("l.Confirmation") }}</h5>
                        <i class="fa fa-exclamation-triangle fa-6x text-orange mb-3 mt-2"></i>
                        <h4>{{ __("l.Are you sure ?") }}</h4>
                        <div class="d-flex justify-content-evenly mt-4 mb-3">
                            <button class="btn-yes btn btn-primary w-150 text-white"><i class="fa fa-check"></i>
                                {{ __("l.Yes") }}
                            </button>
                            <button class="btn-no btn btn-secondary w-150 text-white"><i class="fa fa-times"></i>
                                {{ __("l.No") }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "modals"
}
</script>

<style scoped>

</style>
