<template>
    <index :title="__('l.Edit Site')">
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="m-0 float-start">{{__('l.Edit Site')}}</h5>
                <inertia-link :href="route('sites.index')" class="btn btn-sm btn-primary float-end w-150"><i class="fa fa-list me-1"></i>{{__("l.Sites List")}}</inertia-link>
            </div>
            <div class="card-body">
                <form @submit.prevent="submit">
                    <div class="form-group">
                        <label>{{ __("l.Name") }} <span class="text-danger">*</span></label>
                        <input type="text" v-model="form.name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>الصورة</label>
                        <input type="file" @input="form.image = $event.target.files[0]" class="form-control" accept="image/*">
                        <img class="img-thumbnail border" :src='asset("public/" + site.image)' style="width: 120px; margin-top: 5px;">
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" :disabled="form.processing" class="btn btn-primary btn-sm w-150"><i class="fa fa-save"></i> حفظ</button>
                    </div>
                </form>
            </div>
        </div>
    </index>
</template>

<script>
import index from "../layouts/index"

export default {
    name: "sites_index",
    components: {index},
    props: ["site"],
    data(){
        return {
            form: this.$inertia.form({
                id: this.site.id,
                name: this.site.name,
                image: null,
            })
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('sites.update'), {
                preserveScroll: true,
                preserveState: false,
            })
        }
    }
}
</script>
