<template>
    <index :title="__('l.Sites List')">
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="m-0 float-start">{{__('l.Sites List')}}</h5>
                <inertia-link :href="route('sites.add')" class="btn btn-sm btn-primary float-end w-150"><i class="fa fa-plus me-1"></i>{{__("l.Add Site")}}</inertia-link>
            </div>
            <div class="card-body">
                {{sites.length}}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="50" class="text-center">#</th>
                        <th width="50">{{__("l.Image")}}</th>
                        <th>{{__("l.Name")}}</th>
                        <th width="150">{{__("l.Actions")}}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-if="sites.length == 0">
                            <td class="text-center" colspan="4"><b>{{__("l.No Data")}}</b></td>
                        </tr>
                       <tr v-else v-for="(site, i) in sites">
                           <td class="text-center">{{i+1}}</td>
                           <td>
                               <inertia-link :href="route('sites.editor', site.id)" :title="__('l.Site Editor')">
                                    <img class="img-thumbnail border" :src='asset("public/" + site.image)' style="width: 50px; height: 50px;">
                                </inertia-link>
                           </td>
                           <td>
                               <inertia-link :href="route('sites.editor', site.id)" class="text-decoration-none" :title="__('l.Site Editor')">{{site.name}}</inertia-link>
                           </td>
                           <td class="text-center">
                               <inertia-link :href="route('sites.editor', site.id)" class="btn-action" :title="__('l.Site Editor')"><i class="fa fa-brush"></i></inertia-link>
                               <inertia-link :href="route('sites.edit', site.id)" class="btn-action" :title="__('l.Edit')"><i class="fa fa-edit"></i></inertia-link>
                               <a :href="route('sites.delete', site.id)" @click.prevent="delete_confirm"  class="btn-action" :title="__('l.Delete')"><i class="fa fa-trash"></i></a>
                           </td>
                       </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </index>
</template>

<script>
import index from "../layouts/index"

export default {
    name: "sites_index",
    components: {index},
    props: ["sites"],
}
</script>
