<template>
    <index :title="__('l.Sign In')">
        <div class="row">
            <div class="col-sm-5 mx-auto">
                <h4 class="my-4 text-center">{{__('l.Sign In')}}</h4>
                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="text-center">{{__("l.Sign in to start your session")}}</p>
                        <form @submit.prevent="submit">
                            <div class="input-group mb-3">
                                <span class="input-group-text border"><i class="fas fa-envelope"></i></span>
                                <input type="email" v-model="form.email" class="form-control border" :placeholder="__('l.Email')" required>
                            </div>
                            <div class="text-danger my-1" v-if="$page.props.errors['email']">{{$page.props.errors['email'][0]}}</div>
                            <div class="input-group my-3">
                                <span class="input-group-text border"><i class="fas fa-lock"></i></span>
                                <input type="password" v-model="form.password" class="form-control border" :placeholder="__('l.Password')" required>
                            </div>
                            <div class="text-danger my-1" v-if="$page.props.errors['password']">{{$page.props.errors['password'][0]}}</div>
                            <div class="row mt-4 mb-2">
                                <div class="col-6">
                                    <div class="icheck-primary">
                                        <input type="checkbox" v-model="form.remember" id="remember"
                                               true-value="1"
                                               false-value="0">
                                        <label for="remember">{{__("l.Remember me")}}</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <button type="submit" :disbled="form.processing" class="btn btn-primary w-100">{{__("l.Sign In")}}</button>
                                </div>
                            </div>
                        </form>
                        <div class="text-start">
                            <inertia-link :href='route("password.request")'>{{__("l.Reset Password")}}</inertia-link>
                        </div>
                        <p class="text-center my-3">- {{ __("l.OR") }} -</p>
                        <inertia-link :href="route('register')" class="btn btn-primary w-100 mb-2">{{__("l.Sign Up")}}</inertia-link>
                    </div>
                </div>
            </div>
        </div>
    </index>
</template>

<script>
import index from "../layouts/index"

export default {
    name: "login",
    components: {index},
    data() {
        return {
            form: this.$inertia.form({
                email: "",
                password: "",
                remember: null
            })
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('do_login'))
        }
    }
}
</script>

