<template>
    <index :title="__('l.Sign Up')">
        <div class="row">
            <div class="col-sm-5 mx-auto">
                <h4 class="my-4 text-center">{{__('l.Sign Up')}}</h4>
                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="text-center">{{__("l.Sign up a new account")}}</p>
                        <form @submit.prevent="submit">
                            <div class="input-group mb-3">
                                <span class="input-group-text border"><i class="fa fa-user"></i></span>
                                <input type="text" v-model="form.name" class="form-control border" :placeholder="__('l.Name')" required>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text border"><i class="fas fa-envelope"></i></span>
                                <input type="email" v-model="form.email" class="form-control border" :placeholder="__('l.Email')" required>
                            </div>
                            <div class="text-danger my-1" v-if="$page.props.errors['email']">{{$page.props.errors['email'][0]}}</div>
                            <div class="input-group my-3">
                                <span class="input-group-text border"><i class="fas fa-lock"></i></span>
                                <input type="password" v-model="form.password" class="form-control border" :placeholder="__('l.Password')" required>
                            </div>
                            <div class="text-danger my-1" v-if="$page.props.errors['password']">{{$page.props.errors['password'][0]}}</div>
                            <div class="input-group my-3">
                                <span class="input-group-text border"><i class="fas fa-lock"></i></span>
                                <input type="password" v-model="form.password_confirmation" class="form-control border" :placeholder="__('l.Confirm Password')" required>
                            </div>
                            <div class="row mt-4 mb-2">
                                <div class="col-6">
                                </div>
                                <div class="col-6">
                                    <button type="submit" :disbled="form.processing" class="btn btn-primary w-100">{{__("l.Sign Up")}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </index>
</template>

<script>
import index from "../layouts/index"

export default {
    name: "login",
    components: {index},
    data() {
        return {
            form: this.$inertia.form({
                name: "",
                email: "",
                password: "",
                password_confirmation: ""
            })
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('do_register'))
        }
    }
}
</script>

