<template>
    <div class="login-page">
        <messages/>
        <div class="login-box">
            <div class="login-logo">Laravel Boilerplate</div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">{{__("l.Sign in to start your session")}}</p>
                    <form @submit.prevent="submit">
                        <div class="input-group mb-3">
                            <span class="input-group-text border"><i class="fas fa-envelope"></i></span>
                            <input type="email" v-model="form.email" class="form-control border" :placeholder="__('l.Email')" required>
                        </div>
                        <div class="text-danger my-1" v-if="$page.props.errors['email']">{{$page.props.errors['email'][0]}}</div>
                        <div class="input-group my-3">
                            <span class="input-group-text border"><i class="fas fa-lock"></i></span>
                            <input type="password" v-model="form.password" class="form-control border" :placeholder="__('l.Password')" required>
                        </div>
                        <div class="text-danger my-1" v-if="$page.props.errors['password']">{{$page.props.errors['password'][0]}}</div>
                        <div class="row mt-4 mb-2">
                            <div class="col-6">
                                <div class="icheck-primary">
                                    <input type="checkbox" v-model="form.remember" id="remember"
                                           true-value="1"
                                           false-value="0">
                                    <label for="remember">{{__("l.Remember me")}}</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <button type="submit" :disbled="form.processing" class="btn btn-primary w-100">{{__("l.Sign In")}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import messages from "../../common/messages"

export default {
    name: "login",
    components: {messages},
    data() {
      return {
          form: this.$inertia.form({
              email: "admin@admin.com",
              password: "admin",
              remember: 1
          })
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('admin.do_login'))
        }
    }
}
</script>

<style scoped>
[class*="icheck-"] > input:first-child + input[type="hidden"] + label::before,
[class*="icheck-"] > input:first-child + label::before{
    margin-right: 0px !important;
    margin-left: -29px !important;
}
</style>
