<template>
    <index :title="__('l.my_account')">
        <div class="container-md mb-5" id="my_account" style="max-width: 700px;">
            <div class="card">
                <div class="card-body">
                    <div class="float-end">
                        <img class="rounded border" :src='asset("public/" + $page.props.auth.image)' style="width: 60px; height: 60px;">
                    </div>
                    <div class="d-inline-block">
                        <div class="profile-username"><i class="fa fa-user"></i> {{$page.props.auth.name}}</div>
                        <div class="profile-email"><i class="fa fa-envelope"></i> {{$page.props.auth.email}}</div>
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <form @submit.prevent="submit">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>الإسم <span class="text-danger">*</span></label>
                                    <input type="text" v-model="form.name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>البريد الإلكتروني <span class="text-danger">*</span></label>
                                    <input type="email" v-model="form.email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>كلمة المرور </label>
                                    <input type="password" v-model="form.password" class="form-control">
                                    <small>لا تعدل هذا الحقل إذا كنت لا تريد تغيير كلمة المرور</small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>الصورة</label>
                                    <input type="file" @input="form.image = $event.target.files[0]" class="form-control" accept="image/*">
                                    <img v-if="form.the_image" :src="asset('public/' + form.the_image)" class="img-thumbnail img-thumbnail-200 mt-2" alt="" style="height: 120px !important;">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <button type="submit" :disabled="form.processing" class="btn btn-primary btn-sm w-150"><i class="fa fa-save"></i> حفظ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </index>
</template>

<script>
import index from "../layouts/index"

export default {
    name: "my_account",
    components: {index},
    data(){
        return {
            form: this.$inertia.form({
                name: this.$page.props.auth.name,
                email: this.$page.props.auth.email,
                password: "",
                image: null,
                the_image: this.$page.props.auth.image,
            })
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('save_my_account'), {
                preserveScroll: true,
                preserveState: false,
            })
        }
    }
}
</script>

