@media (min-width: 768px) {
    .main-header {
        padding: 0 .5rem;
    }

    .navbar-collapse {
        justify-content: space-between !important;
    }

    .navbar-nav {
        flex-direction: row;
    }
}

.wrapper > .content, .main-header {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.main-header .nav-link:hover,
.main-header .nav-link.active,
.main-header .dropdown-item:hover,
.main-header .dropdown-item.active {
    background-color: #4d5358;
    color: #fff;
}

.brand-image {
    margin-top: -2px !important;
    height: 36px !important;
    width: 36px !important;
}

.nav-link {
    height: auto !important;
    padding: .7rem !important;
    white-space: nowrap;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    margin-bottom: 5px;
    font-weight: 500;
}
.card-header{
    background: #fff;
}

table.table th{
    background: #0d6efd;
    color: #fff;
}
table.table td{
    vertical-align: middle;
}
.img-thumbnail{
    max-width: inherit !important;
}
