<template>
    <admin title="الإعدادات">
        <div class="row">
            <div class="col-sm-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0 float-start">الإعدادات العامة</h5>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="submit">
                            <div class="form-group">
                                <label>إسم الموقع إنجليزي <span class="text-danger">*</span></label>
                                <input type="text" v-model="form.name_en" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>إسم الموقع عربي <span class="text-danger">*</span></label>
                                <input type="text" v-model="form.name_ar" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>إسم الموقع فرنسي <span class="text-danger">*</span></label>
                                <input type="text" v-model="form.name_fr" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>شعار الموقع</label>
                                <input type="file" @input="form.logo = $event.target.files[0]" class="form-control" accept="image/*">
                                <img v-if="form.the_image" :src="asset('public/' + form.the_image)" class="img-thumbnail img-thumbnail-200 mt-2" alt="" style="height: 120px !important;">
                            </div>
                            <div class="form-group mt-2">
                                <button type="submit" :disabled="form.processing" class="btn btn-primary btn-sm w-150"><i class="fa fa-save"></i> حفظ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0 float-start">إعدادات SMTP</h5>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="submit_smtp">
                            <div class="form-group">
                                <label>إرسال البريد الإلكتروني من الإسم <span class="text-danger">*</span></label>
                                <input type="text" class="form-control mb-1" v-model="form2.email_sent_from_name" required>
                            </div>
                            <div class="form-group">
                                <label>إرسال البريد الإلكتروني من العنوان <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" v-model="form2.email_sent_from_address" required>
                            </div>
                            <div class="form-group">
                                <label>SMTP Host <span class="text-danger">*</span></label>
                                <input type="text" class="form-control mb-1" v-model="form2.smtp_host" required>
                            </div>
                            <div class="form-group">
                                <label>SMTP Username <span class="text-danger">*</span></label>
                                <input type="text" class="form-control mb-1" v-model="form2.smtp_username" required>
                            </div>
                            <div class="form-group">
                                <label>SMTP Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control mb-1" v-model="form2.smtp_password" required>
                            </div>
                            <div class="form-group">
                                <label>SMTP Port <span class="text-danger">*</span></label>
                                <input type="text" class="form-control mb-1" v-model="form2.smtp_port" required>
                            </div>
                            <div class="form-group">
                                <label>نوع الحماية <span class="text-danger">*</span></label>
                                <select class="form-control mb-1" v-model="form2.smtp_security_type" required="">
                                    <option value="ssl">SSL</option>
                                    <option value="tls">TLS</option>
                                </select>
                            </div>
                            <hr class="mt-4">
                            <div class="form-group">
                                <label>أرسل بريدًا تجريبيًا إلى</label>
                                <input type="email" class="form-control mb-1" v-model="form2.smtp_test_email">
                            </div>
                            <div class="form-group mt-4 mb-2">
                                <button type="submit" :disabled="form2.processing" class="btn btn-primary btn-sm w-150"><i class="fa fa-save"></i> حفظ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </admin>
</template>

<script>
import admin from "../layouts/admin"

export default {
    name: "index",
    components: {admin},
    props: ["settings"],
    data(){
        return {
            form: this.$inertia.form({
                name_en: this.settings["name_en"]?.value,
                name_ar: this.settings["name_ar"]?.value,
                name_fr: this.settings["name_fr"]?.value,
                logo: null,
                the_image: this.settings["logo"] ? this.settings["logo"].value : null,
            }),
            form2: this.$inertia.form({
                email_sent_from_address: this.settings["email_sent_from_address"]?.value,
                email_sent_from_name: this.settings["email_sent_from_name"]?.value,
                smtp_host: this.settings["smtp_host"]?.value,
                smtp_username: this.settings["smtp_username"]?.value,
                smtp_password: this.settings["smtp_password"]?.value,
                smtp_port: this.settings["smtp_port"]?.value,
                smtp_security_type: this.settings["smtp_security_type"]?.value,
                smtp_test_email: "",
            })
        }
    },
    methods: {
        submit(){
            var component = this
            this.form.post(this.route('admin.settings.save_settings'), {
                preserveScroll: true,
                preserveState: false,
            })
        },
        submit_smtp(){
            var component = this
            this.form2.post(this.route('admin.settings.save_smtp_settings'), {
                preserveScroll: true,
                preserveState: false,
            })
        }
    }
}
</script>
