<template>
    <div class="wrapper">
        <messages/>
        <modals/>
        <slot></slot>
    </div>
</template>

<script>
import messages from "./common/messages"
import modals from "./common/modals"

export default {
    name: "index",
    props: ["title"],
    components: {messages, modals},
    data() {
        return {
            page_title: "",
            page_logo: "",
        }
    },
    mounted() {
        var lang = this.$page.props.lang
        var settings = this.$page.props._settings
        var logo = settings["logo"].value
        this.page_title = ((this.title) ? this.title + " | " : "") + settings["name_" + lang]?.value
        this.page_logo = settings["logo"] ? this.asset('public/' + logo) : this.asset('public/noimage.jpg')
        this.$meta().refresh()
    },
    metaInfo() {
        return {
            title: this.page_title,
            link: [
                {rel: 'icon', type: "image/png", href: this.page_logo},
                {rel: 'canonical', href: window.location.href},
                {rel: 'apple-touch-icon', href: this.page_logo},
                {rel: 'shortcut icon', href: this.page_logo},
            ],
            meta: [
                {name: 'description', content: "description"},
            ]
        }
    }
}
</script>
