<template>
    <index :title='__("l.Reset Password")'>
        <div class="row">
            <div class="col-sm-5 mx-auto">
                <h4 class="my-4 text-center">{{__('l.Reset Password')}}</h4>
                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="text-center">{{__("l.Sign in to start your session")}}</p>
                        <form @submit.prevent="submit">
                            <div class="input-group mb-3">
                                <span class="input-group-text border"><i class="fas fa-envelope"></i></span>
                                <input type="email" v-model="form.email" class="form-control border" :placeholder="__('l.Email')" required>
                            </div>
                            <div class="text-danger my-1" v-if="$page.props.errors['email']">{{$page.props.errors['email'][0]}}</div>
                            <div class="row mt-4 mb-2">
                                <div class="col-6">
                                </div>
                                <div class="col-6">
                                    <button type="submit" :disbled="form.processing" class="btn btn-primary w-100">{{__("l.Reset Password")}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </index>
</template>

<script>
import index from "../../layouts/index"

export default {
    name: "email",
    components: {index},
    data(){
        return {
            form: this.$inertia.form({
                email: "",
            }),
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('password.email'), {
                preserveState: true,
                preserveScroll: true
            })
        }
    }
}
</script>
