<template>
    <index :title='__("l.Reset Password")'>
        <div class="row">
            <div class="col-sm-5 mx-auto">
                <h4 class="my-4 text-center">{{__('l.Reset Password')}}</h4>
                <div class="card">
                    <div class="card-body login-card-body">
                        <span v-if="$page.props.status" class="alert alert-success p-1 text-sm mb-2 d-block" role="alert">
                            {{$page.props.status}}
                        </span>
                        <form @submit.prevent="submit">
                            <span v-if="$page.props.errors['email']" class="invalid-feedback mb-3 d-block" role="alert">
                                    {{$page.props.errors['email'][0]}}
                                </span>
                            <div class="input-group my-3">
                                <span class="input-group-text border"><i class="fas fa-lock"></i></span>
                                <input type="password" v-model="form.password" class="form-control border" :placeholder="__('l.Password')" required>
                            </div>
                            <div class="text-danger my-1" v-if="$page.props.errors['password']">{{$page.props.errors['password'][0]}}</div>
                            <div class="input-group my-3">
                                <span class="input-group-text border"><i class="fas fa-lock"></i></span>
                                <input type="password" v-model="form.password_confirmation" class="form-control border" :placeholder="__('l.Confirm Password')" required>
                            </div>
                            <div class="row mt-4 mb-2">
                                <div class="col-6">
                                </div>
                                <div class="col-6">
                                    <button type="submit" :disbled="form.processing" class="btn btn-primary w-100">{{__("l.Reset Password")}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </index>
</template>

<script>
import index from "../../layouts/index"

export default {
    name: "reset",
    props: ["token", "email"],
    components: {index},
    data(){
        return {
            form: this.$inertia.form({
                email: this.email,
                token: this.token,
                password: "",
                password_confirmation: ""
            }),
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('password.update'), {
                preserveState: true,
                preserveScroll: true
            })
        }
    }
}
</script>

<style scoped>

</style>
