.layout-fixed .wrapper .sidebar {
    overflow-y: auto;
}
body *::-webkit-scrollbar {
    width: 6px;
}

body *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body *::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 20px;
}

.nav-treeview.active{
    display: block;
}

.layout-navbar-fixed .wrapper .content-wrapper {
    margin-top: calc(3.5rem + 14px);
}
.user_image{
    width: 70px;
    height: 50px;
    display: block;
    margin: 0px auto;
}
