<template>
    <index title="Contact Us">
        <h3>Contact Us</h3>
    </index>
</template>

<script>
import index from "./layouts/index"

export default {
    name: "contact_us",
    components: {index}
}
</script>
