<template>
    <index :title="__('l.homepage')">
        <h3>{{ __('l.homepage') }}</h3>
    </index>
</template>

<script>
import index from "./layouts/index"

export default {
    name: "homepage",
    components: {index}
}
</script>
