<template>
    <admin title="إضافة مستخدم">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0 float-start">إضافة مستخدم</h5>
                <inertia-link :href="route('admin.users.index')" class="btn btn-primary btn-sm float-end w-150"><i class="fa fa-list"></i> قائمة المستخدمين</inertia-link>
            </div>
            <div class="card-body">
                <form @submit.prevent="submit">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>الإسم <span class="text-danger">*</span></label>
                                <input type="text" v-model="form.name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>البريد الإلكتروني <span class="text-danger">*</span></label>
                                <input type="email" v-model="form.email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>كلمة المرور <span class="text-danger">*</span></label>
                                <input type="password" v-model="form.password" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>الحالة <span class="text-danger">*</span></label>
                                <select v-model="form.status" class="form-control" required>
                                    <option value="1">نشط</option>
                                    <option value="0">محظور</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>الصورة</label>
                                <input type="file" @input="form.image = $event.target.files[0]" class="form-control" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" :disabled="form.processing" class="btn btn-primary btn-sm w-150"><i class="fa fa-save"></i> حفظ</button>
                    </div>
                </form>
            </div>
        </div>
    </admin>
</template>

<script>
import admin from "../layouts/admin"

export default {
    name: "add",
    components: {admin},
    data(){
        return {
            form: this.$inertia.form({
                name: "",
                email: "",
                password: "",
                status: 1,
                image: null,
            })
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('admin.users.save'))
        }
    }
}
</script>
