<template>
    <admin title="تعديل المستخدم">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0 float-start">تعديل المستخدم</h5>
                <inertia-link :href="route('admin.users.index')" class="btn btn-primary btn-sm float-end w-150"><i class="fa fa-list"></i> قائمة المستخدمين</inertia-link>
            </div>
            <div class="card-body">
                <form @submit.prevent="submit">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>الإسم <span class="text-danger">*</span></label>
                                <input type="text" v-model="form.name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>البريد الإلكتروني <span class="text-danger">*</span></label>
                                <input type="email" v-model="form.email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>كلمة المرور </label>
                                <input type="password" v-model="form.password" class="form-control">
                                <small>لا تعدل هذا الحقل إذا كنت لا تريد تغيير كلمة المرور</small>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>الحالة <span class="text-danger">*</span></label>
                                <select v-model="form.status" class="form-control" required>
                                    <option value="1">نشط</option>
                                    <option value="0">محظور</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>الصورة</label>
                                <input type="file" @input="form.image = $event.target.files[0]" class="form-control" accept="image/*">
                                <img v-if="form.the_image" :src="asset('public/' + form.the_image)" class="img-thumbnail img-thumbnail-200 mt-2" alt="" style="height: 120px !important;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" :disabled="form.processing" class="btn btn-primary btn-sm w-150"><i class="fa fa-save"></i> حفظ</button>
                    </div>
                </form>
            </div>
        </div>
    </admin>
</template>

<script>
import admin from "../layouts/admin"

export default {
    name: "add",
    components: {admin},
    props: ["user"],
    data(){
        return {
            form: this.$inertia.form({
                id: this.user.id,
                name: this.user.name,
                email: this.user.email,
                password: "",
                status: this.user.status,
                image: null,
                the_image: this.user.image,
            })
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('admin.users.update'), {
                preserveScroll: true,
                preserveState: false,
            })
        }
    }
}
</script>
