<template>
    <admin title="المستخدمون">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0 float-start">قائمة المستخدمين</h5>
                <inertia-link :href="route('admin.users.add')" class="btn btn-primary btn-sm float-end w-150"><i class="fa fa-plus"></i> إضافة مستخدم</inertia-link>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="50" class="text-center">#</th>
                            <th width="70">الصورة</th>
                            <th>الإسم</th>
                            <th>البريد الإلكتروني</th>
                            <th width="120">الحالة</th>
                            <th width="150">الأوامر</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, key) in users">
                            <td class="text-center">{{key + 1}}</td>
                            <td>
                                <img :src="asset('public/' + user.image)" class="img-thumbnail user_image"  />
                            </td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td class="text-center">
                                <div v-if="user.status == 1" class="badge bg-success w-100">نشط</div>
                                <div v-else class="badge bg-danger w-100">محظور</div>
                            </td>
                            <td class="text-center">
                                <inertia-link :href="route('admin.users.edit', user.id)" class="btn-action" title="تعديل"><i class="fa fa-edit"></i></inertia-link>
                                <a :href="route('admin.users.delete', user.id)" @click.prevent="delete_confirm"  class="btn-action" title="حذف"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </admin>
</template>

<script>
import admin from "../layouts/admin"

export default {
    name: "index",
    props: ["users"],
    components: {admin}
}
</script>
