<template>
    <admin title="تعديل المدير">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0 float-start">تعديل المدير</h5>
                <inertia-link :href="route('admin.admins.index')" class="btn btn-primary btn-sm float-end w-150"><i class="fa fa-list"></i> قائمة المدراء</inertia-link>
            </div>
            <div class="card-body">
                <form @submit.prevent="submit">
                    <div class="form-group">
                        <label>الإسم <span class="text-danger">*</span></label>
                        <input type="text" v-model="form.name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>البريد الإلكتروني <span class="text-danger">*</span></label>
                        <input type="email" v-model="form.email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>كلمة المرور </label>
                        <input type="password" v-model="form.password" class="form-control">
                        <small>لا تعدل هذا الحقل إذا كنت لا تريد تغيير كلمة المرور</small>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" :disabled="form.processing" class="btn btn-primary btn-sm w-150"><i class="fa fa-save"></i> حفظ</button>
                    </div>
                </form>
            </div>
        </div>
    </admin>
</template>

<script>
import admin from "../layouts/admin"

export default {
    name: "add",
    components: {admin},
    props: ["admin"],
    data(){
        return {
            form: this.$inertia.form({
                id: this.admin.id,
                name: this.admin.name,
                email: this.admin.email,
                password: ""
            })
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('admin.admins.update'))
        }
    }
}
</script>
