<template>
    <admin title="المدراء">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0 float-start">قائمة المدراء</h5>
                <inertia-link :href="route('admin.admins.add')" class="btn btn-primary btn-sm float-end w-150"><i class="fa fa-plus"></i> إضافة مدير</inertia-link>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="50" class="text-center">#</th>
                            <th>الإسم</th>
                            <th>البريد الإلكتروني</th>
                            <th width="150">الأوامر</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(admin, key) in admins">
                            <td class="text-center">{{key + 1}}</td>
                            <td>{{admin.name}}</td>
                            <td>{{admin.email}}</td>
                            <td class="text-center">
                                <inertia-link :href="route('admin.admins.edit', admin.id)" class="btn-action" title="تعديل"><i class="fa fa-edit"></i></inertia-link>
                                <a v-if="$page.props.auth_admin.id != admin.id" :href="route('admin.admins.delete', admin.id)" @click.prevent="delete_confirm"  class="btn-action" title="حذف"><i class="fa fa-trash"></i></a>
                                <a v-else href="#" disabled  class="btn-action disabled" title="حذف"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </admin>
</template>

<script>
import admin from "../layouts/admin"

export default {
    name: "index",
    props: ["admins"],
    components: {admin}
}
</script>
