<template>
    <index :title="__('l.Site Editor')">
    </index>
</template>

<script>
import index from "../../layouts/index"

export default {
    name: "sites_index",
    components: {index},
    props: ["site"],
    data(){
        return {
            form: this.$inertia.form({
                id: this.site.id,
                name: this.site.name,
                image: null,
            })
        }
    },
    methods: {
        submit(){
            this.form.post(this.route('sites.update'), {
                preserveScroll: true,
                preserveState: false,
            })
        }
    }
}
</script>
